astroid==2.12.8
autopep8==1.7.0
dill==0.3.5.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pycodestyle==2.9.1
pylint==2.15.0
PySide6==6.3.2
PySide6-Addons==6.3.2
PySide6-Essentials==6.3.2
shiboken6==6.3.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
wrapt==1.14.1
